 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

:root{
    font-family: "roboto";
}

*{
    margin: 0;
    /*padding: 0;*/
    box-sizing: border-box;
}


body{
    background-image: url(coral.png);
    background-size: cover;
    background-attachment: fixed;
}

nav{
    background-color: #ad7753;
    display: flex;
    justify-content: space-around;
    
    font-family: "roboto";
    align-items: center;
}

.logo{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    
}

p4{
    margin-left: 0px;
}

#nav-profile img{
    width: 60px;
    margin: 10px;
    border-radius: 50%;

}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 15px;
    font-weight: bold;
}

.nav-links a:hover{
    color: #efad42;
}

.burger{
    width: 42px;
    height: 35px;
    border: 3px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    transition: all 0.5s ease-in-out;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    .burger{
        display: block;
    }

    .nav-links{
        position: absolute;
        right: 0;
        top: 8vh;
        background-color: #ad7753;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 92vh;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    body{
        overflow-x: hidden;
    }
}

#footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    align-items: center;
    background-color: black;
    color: #fff;
    padding: 30px;
    margin-bottom: 0;
    
    align-items:center ;
}

.footer .container {
   
    min-width: 30px;
    display: grid;
    font-family: "roboto";
    grid-template-rows: 2px auto;
    text-decoration: none;
    gap: 1px;
    justify-items: center;
  }

.footer a {
    color: white;
  }


  .footer__social a {
    display: inline-block;
    height: 1.25rem;
  }

  .footer__links {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    justify-content: space-between;
    align-content: start;
    text-decoration: none;
  }
